@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

.color-grid {
  @include breakpoint(medium) {
    @include grid-row(22) {
      .color {
        @include grid-column(1, 0.25rem);
        &.zero {
          @include grid-column(2, 0.25rem);
        }
      }
    }
  }
}
.color {
  margin-bottom: 2rem;
}
header .color {
  font-size: 0.5rem;
}

.swatch {
  display: block;
  text-align: center;
  padding: 1rem 0.5rem;
  position: relative;
  font-weight: bold;

  &:before {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: rem-calc(10);
    font-weight: normal;
  }
  &:after {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
    left: 0.25rem;
    font-size: 2rem;
    color: #ffaaff;
    line-height: 1.5;
    mix-blend-mode: difference;
  }
}
.zero .swatch {
  box-shadow: 0 0 0 0.125rem $black;
  margin: 0 0.125rem;
}

/*
 * Set the color variables
 */
$text-color-1: #111111;
$text-color-2: $white;
$my-palette: map-merge($foundation-palette, (

  white: #FFFFFF,
  silver: #C0C0C0,
  gray: #808080,
  black: #000000,
  red: #ff0000,
  maroon: #800000,
  yellow: #FFFF00,
  olive: #808000,
  lime: #00ff00,
  green: #008000,
  aqua: #00FFFF,
  teal: #008080,
  blue: #0000FF,
  navy: #000080,
  fuchsia: #FF00FF,
  purple: #800080,

  pink: #FFC0CB,
  lightpink: #FFB6C1,
  hotpink: #FF69B4,
  deeppink: #FF1493,
  palevioletred: #DB7093,
  mediumvioletred: #C71585,

  lightsalmon: #FFA07A,
  salmon: #FA8072,
  darksalmon: #E9967A,
  lightcoral: #F08080,
  indianred: #CD5C5C,
  crimson: #DC143C,
  firebrick: #B22222,
  darkred: #8B0000,
  // red: #FF0000,

  orangered: #FF4500,
  tomato: #FF6347,
  coral: #FF7F50,
  darkorange: #FF8C00,
  orange: #FFA500,

  // yellow: #FFFF00,
  lightyellow: #FFFFE0,
  lemonchiffon: #FFFACD,
  lightgoldenrodyellow: #FAFAD2,
  papayawhip: #FFEFD5,
  moccasin: #FFE4B5,
  peachpuff: #FFDAB9,
  palegoldenrod: #EEE8AA,
  khaki: #F0E68C,
  darkkhaki: #BDB76B,
  gold: #FFD700,

  cornsilk: #FFF8DC,
  blanchedalmond: #FFEBCD,
  bisque: #FFE4C4,
  navajowhite: #FFDEAD,
  wheat: #F5DEB3,
  burlywood: #DEB887,
  tan: #D2B48C,
  rosybrown: #BC8F8F,
  sandybrown: #F4A460,
  goldenrod: #DAA520,
  darkgoldenrod: #B8860B,
  peru: #CD853F,
  chocolate: #D2691E,
  saddlebrown: #8B4513,
  sienna: #A0522D,
  brown: #A52A2A,
  // maroon: #800000,

  darkolivegreen: #556B2F,
  // olive: #808000,
  olivedrab: #6B8E23,
  yellowgreen: #9ACD32,
  limegreen: #32CD32,
  // lime: #00FF00,
  lawngreen: #7CFC00,
  chartreuse: #7FFF00,
  greenyellow: #ADFF2F,
  springgreen: #00FF7F,
  mediumspringgreen: #00FA9A,
  lightgreen: #90EE90,
  palegreen: #98FB98,
  darkseagreen: #8FBC8F,
  mediumaquamarine: #66CDAA,
  mediumseagreen: #3CB371,
  seagreen: #2E8B57,
  forestgreen: #228B22,
  // green: #008000,
  darkgreen: #006400,

  // aqua: #00FFFF,
  // cyan: #00FFFF,
  lightcyan: #E0FFFF,
  paleturquoise: #AFEEEE,
  aquamarine: #7FFFD4,
  turquoise: #40E0D0,
  mediumturquoise: #48D1CC,
  darkturquoise: #00CED1,
  lightseagreen: #20B2AA,
  cadetblue: #5F9EA0,
  darkcyan: #008B8B,
  // teal: #008080,

  lightsteelblue: #B0C4DE,
  powderblue: #B0E0E6,
  lightblue: #ADD8E6,
  skyblue: #87CEEB,
  lightskyblue: #87CEFA,
  deepskyblue: #00BFFF,
  dodgerblue: #1E90FF,
  cornflowerblue: #6495ED,
  steelblue: #4682B4,
  royalblue: #4169E1,
  // blue: #0000FF,
  mediumblue: #0000CD,
  darkblue: #00008B,
  // navy: #000080,
  midnightblue: #191970,

  lavender: #E6E6FA,
  thistle: #D8BFD8,
  plum: #DDA0DD,
  violet: #EE82EE,
  orchid: #DA70D6,
  // fuchsia: #FF00FF,
  // magenta: #FF00FF,
  mediumorchid: #BA55D3,
  mediumpurple: #9370DB,
  blueviolet: #8A2BE2,
  darkviolet: #9400D3,
  darkorchid: #9932CC,
  darkmagenta: #8B008B,
  // purple: #800080,
  indigo: #4B0082,
  darkslateblue: #483D8B,
  slateblue: #6A5ACD,
  mediumslateblue: #7B68EE,


));

/*
 * Custom color picker function
 */
@function pick-a11y-color($base, $colors: ( $text-color-1, $text-color-2 ), $tolerance: 0) {
  $contrast: color-contrast($base, nth($colors, 1));
  $best: nth($colors, 1);

  @for $i from 2 through length($colors) {
    $current-contrast: color-contrast($base, nth($colors, $i));
    @if ($current-contrast - $contrast > $tolerance) {
      $contrast: color-contrast($base, nth($colors, $i));
      $best: nth($colors, $i);
    }
  }

  @if ($contrast < 4.5) {
    @return false;
  } @else {
    @return $best;
  }

}

/*
 * Swatch Mixin
 */
@mixin swatch($color) {
  $text-color: pick-a11y-color($color);

  background-color: $color;
  color: $text-color;

  &:before {
    content: "#{$color}";
    color: #000;
  }

  @if $text-color == false {
    color: $color;
    &:after {
      content: "\2715";
    }
  }
}

/*
 * Print the classes for each color in $my-palette
 */
@each $name, $color in $my-palette {
  .#{$name} {
    @include swatch($color);
  }

  @for $i from 1 through 10 {
    $percentage: $i * 3%;
    $l-color: lighten($color,$percentage);
    $d-color: darken($color,$percentage);

    .#{$name}-l#{$i} {
      @include swatch($l-color);
    }

    .#{$name}-d#{$i} {
      @include swatch($d-color);
    }
  }
}
